<section>
    <h1>Info</h1>
    <h2>{{argumentos}}</h2>
    <h2>{{so}}</h2>
    <h2>{{node}}</h2>
    <h2>{{pathEj}}</h2>
    <h2>{{processId}}</h2>
    <h2>{{carpeta}}</h2>
    <h2>{{procesadores}}</h2>
</section>
